:root {
	--clr-txt: #222;
	--clr-bg: #f3f3f3;
	--clr-hbg: #f9f9f9;
	--clr-hbg-hover: var(--clr-primary);
	--clr-primary: hsl(246, 34%, 82%);
	--clr-primary-hover: hsl(246, 44%, 72%);
	--clr-secondary: #dcdcdc;
	--clr-secondary-hover: #c7c7c7;
	--clr-danger: hsl(350, 72%, 75%);
	--clr-danger-hover: hsl(350, 68%, 58%);
	--clr-focus-shadow: hsl(217, 90%, 95%);
	--clr-error: red;
	--clr-bg-disabled: #aaa;
	--clr-link: #4156e1;
	--clr-link-hover: #6189F1;
	--clr-link-visited: #7159C1;
	--clr-shadow: hsla(246, 44%, 26%, 0.3);
	--clr-brd: #e5e5e5;
	--clr-brd-thick: #646464;

	@media (prefers-color-scheme: dark) {
		--clr-danger: hsl(350, 60%, 20%);
		--clr-danger-hover: hsl(350, 68%, 28%);
		--clr-primary: hsl(246, 44%, 26%);
		--clr-primary-hover: hsl(246, 52%, 34%);
		--clr-txt: #fff;
		--clr-bg: #1a1c1e;
		--clr-hbg: hsl(175, 40%, 5%);
		--clr-hbg-hover:var(--clr-primary);
		// --clr-secondary: hsl(175, 60%, 4%);
		--clr-secondary: hsl(175, 40%, 10%);
		--clr-secondary-hover: var(--clr-primary);
		--clr-brd: #2b3740;
		--clr-bg-disabled: #333;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	color: var(--clr-txt);
	background: var(--clr-bg);
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
	color: var(--clr-link);

	&:visited {
		color: var(--clr-link-visited);
	}

	&:hover {
		color: var(--clr-link-hover);
	}
}

h2 {
	margin: 0.3em 0 0.83em;
}

p {
	margin: 0.3em 0 1em;
}

h3, h4 {
	margin: 1.8em 0 0.9em;
}

a.button,
button,
.button {
	all: unset;
	background: var(--clr-primary);
	color: var(--clr-txt);
	padding: 0.3rem 0.7rem;
	border-radius: 0.3rem;
	transition: 0.15s ease-in-out;
	transition-property: background-color, text-decoration;
	cursor: pointer;
	display: inline-block;
	border: 1px solid var(--clr-brd);

	&:focus {
		box-shadow: 0 0 0 2px var(--clr-focus-shadow);
	}

	&:active {
		translate: 1px 1px;
	}

	&:hover {
		background-color: var(--clr-primary-hover);
	}

	&.secondary {
		background-color: var(--clr-secondary);

		&:hover {
			background-color: var(--clr-secondary-hover);
		}
	}

	&.outline {
		background-color: var(--clr-hbg);

		&:hover {
			background-color: var(--clr-hbg-hover);
		}
	}

	&.danger {
		background-color: var(--clr-danger);

		&:hover {
			background-color: var(--clr-danger-hover);
		}
	}

	&:disabled,
	&:disabled:hover,
	&.disabled,
	&.disabled:hover {
		cursor: not-allowed;
		background-color: var(--clr-bg-disabled);
	}

	&.inline {
		all: unset;
		display: inline;
		text-decoration: underline dotted;
		transition: color 0.15s;
		cursor: pointer;

		&:hover {
			color: var(--clr-link-hover)
		}
	}
}

.table {
	border-collapse: collapse;
	margin: 0 0 1rem;

	th,
	td {
		border: 1px solid var(--clr-brd);
		padding: 0.3rem 0.5rem;
	}
}

.text-center {
	text-align: center;
}


.input-group {
	display: block;
	margin: 0.3em 0 1em;
}

.input-group small {
	display: block;
	margin: 0.7em 0;
}

.form-label {
	display: block;
	margin: 0 0 0.3em;
}

input, select, textarea {
	accent-color: var(--clr-link);
	background-color: var(--clr-hbg);
	border: 1px solid var(--clr-brd-thick);
	padding: 0.5rem;
	color: var(--clr-txt);
	border-radius: 0.3rem;
	font-size: 1rem;
	box-sizing: border-box;

	&:focus {
		box-shadow: 0 0 0 2px var(--clr-focus-shadow);
	}
}

input:not([type="checkbox"], [type="radio"], [type="submit"]) {
	min-width: min(20rem, 100%);
}

.form-subsection {
	margin: 1.2rem 0;
}

.card {
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 0.3rem;
	border: 1px solid var(--clr-brd);
	// max-width: 40rem;
	box-sizing: border-box;
	width: 100%;
	background-color: var(--clr-hbg);
}
.card_form *:first-child { margin-top: 0;}

.card-details[open] > .card-details__summary {
	padding-bottom: 1rem;
}
.card-details__body {
	border-top: 1px dotted var(--clr-brd);
	padding-top: 1rem;
}